<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\tejinder luna\documents\visual studio 2017\projects\deliveyexpressclient\deliveryexpressclient\deliveryexpressclient\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
                logMessagesAtTransportLevel="false" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeliveryService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDeliveryService">
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9202/DeliveryService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDeliveryService" contract="DeliveryService.IDeliveryService"
                name="BasicHttpBinding_IDeliveryService" />
            <endpoint address="net.tcp://localhost:9201/DeliveryService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeliveryService"
                contract="DeliveryService.IDeliveryService" name="NetTcpBinding_IDeliveryService">
                <identity>
                    <userPrincipalName value="DESKTOP-2B83LKB\Tejinder Luna" />
                </identity>
            </endpoint>
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata  httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>